<div class="g-signin2" data-onsuccess="onSignIn" style="display:none"></div>

<!-- Hack to get user_id into JS environment -->
<script>
app.user_id = <%= @current_user? @current_user.id : 'undefined' %>;
app.email = "<%= @current_user? User.find_by(id: @current_user.id).email : 'undefined' %>";
</script>

<!-- Main App. div. Our Backbone views will basically overwrite the HTML data within this div, displaying everything on every view that we want it to! -->
<div id="mainApp" class="container"></div>

<script id="testTemplate" type="text/template">
  <h1>Butts</h1>
</script>

<script id="home" type="text/template">


  <img id="backythebackground" src="<%= asset_path "bad-relationship.jpg" %>" />

  <div id="heading-over-image">
    <h1>!(She Loves Me)</h1>
    <% if @current_user %>
      <div id="authenticateButton">
        <p class="authenticateLink">Get Started</p>
      </div>
    <% end %>
  </div>
  <div id="downarrow"><a class="slowly" href="#lower">
    <i class="icon-down-open"></i>
  </a>
  </div>
  <a name="lower"></a>
  <section class="hometext">
    <p>Want to know if your relationships are going steady, getting stronger or on the decline? We can tell you how your friends and lovers really feel about you, even if they won't.</p>
  </section>

  <section class="pagewidth">
  <hr class="contact-hr">
  <% if @current_user %>
    <%= form_tag(contacts_upload_path, multipart: true) do %>
      <%= label_tag 'Upload file (SMS XML):' %>
      <br>
      <%= file_field_tag 'xml', :class => 'spacing' %>
      <%= submit_tag('&plus;'.html_safe, :class => 'plus') %>
    <% end %>
  <% end %>
  <hr class="contact-hr">
  </section>

  <div class="container">

  <div id="modal" class="popupContainer" style="display:none;">
<!--     <header class="popupHeader">
      <span class="header_title">Login</span>
    </header> -->

    <section class="popupBody">
      <!-- Social Login -->
      <div class="social_login">
        <div class="connect_with_google">
          <a href="#" class="social_box google">
            <span class="icon"><i class="icon-gplus"></i></span>
            <span class="icon_title">Connect with Google</span>
          </a>
        </div>

        <span class="center-or">or</span>
        <hr class="or-hr">

        <div class="email-icon-background"><i class="icon-mail"></i></div>

        <div class="action_btns">
          <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
          <div class="one_half last"><a href="#" id="register_form" class="btn darker">Sign up</a></div>
        </div>
      </div>

      <!-- Username & Password Login form -->

      <div class="user_login">

      <%= form_tag("/login", method: "post") do %>
        <%= text_field_tag(:email, nil, :placeholder => 'Email') %>
        <%= password_field_tag(:password, nil, :placeholder=> 'Password') %>
        <div class="one_half"><a href="#" class="btn login_back back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div> <!-- I am so sorry! -->
        <%= submit_tag("Log In", :id => "login_button", :class => "btn btn_go") %>
      <% end %>

       <!--  <form>
          <input placeholder="Email" type="text" />

          <input placeholder="Password" type="password" />

          <div class="action_btns">
            <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
            <div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
          </div>
        </form> -->
      </div>

      <!-- Register Form -->

      <div class="user_register">
        <form for="user">
          <input placeholder="Name" id="name" type="text" name="name"/>

          <input placeholder="Email" class="email" type="email" name="email" />

          <input placeholder="Password" class="password" type="password" name="password" />

          <input placeholder="Confirm Password" id="confpassword" type="password" name="confpassword" />

          <div class="action_btns">
            <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
            <div class="one_half last"><a href="/" id="register_button" class="btn btn_go">Register</a></div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

</script>


<!-- <script id="login" type="text/template">

  <div class="log-in-bg">

    <form>

      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">

    </form>

    <button>Log In</button>

  </div>

</script> -->

<!--
<script id="signup-options" type="text/template">


</script> -->


<!-- <script id="signup" type="text/template">

  <div class="sign-up-bg">

    <form>

      <input type="text" name="fname" placeholder="First name">
      <input type="text" name="lname" placeholder="Last name">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="password" placeholder="Confirm password">

    </form>

    <button>Sign Up</button>

  </div>

</script> -->


<script id="form" type="text/template">

</script>


<script id="chart" type="text/template">

</script>


<script id="contactListView" type="text/template">

  <section class="pagewidth greybg">
    <p class="listpadding">Contact name: {{ name }} -- Current feel: {{ feedback }} {{ currentFeel }}</p>
    <hr>
  </section>
</script>

<script id="contactView" type="text/template">
  <div class="contact-info">
    <h2 class="contact-name">{{ name }}</h2>
    <li>Email: {{ email_address }}</li>
    <hr class="contact-hr">
    <li>Current feeling: {{feedback}} {{ currentFeel }}</li>
    <li>Highest feeling: {{ highFeel }}</li>
    <li>Lowest feeling: {{ lowFeel }}</li>
    <hr class="contact-hr">
  </div>
  <div id="flotHere"></div>
  <div class="contact-info">
    <div id="snippetsHere"></div>
  </div>
</script>

<script id="snippetView" type="text/template">
  <p>snippet time</p>
  <li>{{ if inbound ? "inbound" : "outbound" }}</li>
  <li>Date of snippet: {{ date }}</li>
  <li>Context: {{ context }}</li>
</script>

<script id="authorizeView" type="text/template">

  <div id="video">
    <source src="<%= asset_path "romance.mp4" %>" />
  </div>

  <div id="authorize-div">
    <p id="authorize-label">Allow EmotiV to access your 50 of your emails:</p>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button">
      Allow
    </button>
  </div>
  <pre id="output"></pre>
</script>
