<!DOCTYPE html>
<html>
<head>
  <title>EmotiV</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script> -->
  <script src="https://apis.google.com/js/client.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="782401865609-45elmgu6tk2j5avkifha4ru1nlopka4k.apps.googleusercontent.com">
</head>
<body>
<header class="headerbg">
  <%== funkynav %>
</header>
<!-- <h1><a href="/">Home</a></h1>
 -->
<%= yield %>

</body>
</html>
