<!DOCTYPE html>
<html>
<head>
  <title>EmotiV</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script> -->
  <script src="https://apis.google.com/js/client.js"></script>
</head>
<body>
<a href="/">
  <div id="logobg">
    <h3>LOGO</h3>
    <i class="icon-theatre"></i>
  </div>
</a>
<header class="headerbg">
  <%== funkynav %>
</header>
<!-- <h1><a href="/">Home</a></h1>
 -->
<%= yield %>

</body>
</html>
